<div class="container">
    <div class="row">
        <h1>Dev Shop</h1>
        <h1>{{ sess }}</h1>
    </div>

    <div class="row">
        <h2>Adicionar Desenvolvedor</h2>
        <table class="table-shop" id="dev-shop-list">
            <thead>
            <tr>
                <th></th>
                <th>Usuário</th>
                <th>Preço p/ hora</th>
                <th>Horas</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {{#each usuarios }}
                <tr class="product" id="{{ login }}" class="row-{{ login }}">
                    <td ><img src="{{ avatar_url }}" class="avatar-user avatar-{{ login }}"/></td>
                    <td class="user-name user-{{ login }}">{{ login }}</td>
                    <td class="preco-hora preco-hora-{{ login }} moeda">{{ preco }}</td>
                    <td><input type="text" class="total-horas total-horas-{{ login }}"></td>
                    <td><button class="btn btn-success pull-right" data-user="{{ login }}" onclick="addTocart(this);">Contratar</button></td>
                </tr>
            {{/each}}
            </tbody>
        </table>
    </div>

    <div class="cart row">
        <h2>Carrinho</h2>
        <table id="carrinho" class="table-cart">
            <thead>
            <tr>
                <th></th>
                <th>Usuário</th>
                <th>Preço p/ hora</th>
                <th>Horas</th>
                <th>Total</th>
                <th></th>
            </tr>
            </thead>
            <tbody>

            </tbody>
        </table>
    </div>

    <div class="container-total-carrinho">
        <div class="totais-carrinho">
            <div class="total-carrinho">
                <h4>Total</h4>
                <p class="preco-total-cart moeda">0</p>
            </div>
            <div class="subtotal-carrinho">
                <h4>Subtotal</h4>
                <p class="preco-subtotal-cart moeda">0</p>
            </div>
        </div>
        <div class="desconto">
            <h4>Desconto</h4>
            <input type="text" class="cupom">
            <button class="btn btn-warning pull-right crt-btn-desconto" onclick="addDesconto(this);">Inserir</button>
            <p class="mensagem-cupom"></p>
        </div>
    </div>
    <div class="container-finalizar-pedido">
        <br/>
        <button class="btn btn-primary pull-right crt-btn-finalizar" onclick="finalizarPedido();">Finalizar Pedido</button>
    </div>

</div> <!-- /container -->